@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.results {
  color: $colorGreen;

  &__list {
    &--desktop {
      display: none;

      @include onTablet--s {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 24px;
      }

      @include onTablet--m {
        row-gap: 18px;
      }
    }
  }

  & .carousel {
    height: 360px;

    &-control-prev {
      transform: translate(-80%, -110%);
    }

    &-control-next {
      transform: translate(80%, -110%);
    }
  }

  & .carousel-item {
    padding: 0 0 40px;
  }

  &__item {
    margin: 0 auto 20px;

    @include onTablet--s {
      margin: 0;
      height: unset;
      width: calc(50% - 10px);
    }

    @include onTablet--m {
      width: calc(33.33333% - 10px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    border-radius: 18px;
    padding: 14px;
    background-color: $colorBeige;
    display: flex;
    width: 220px;

    align-items: center;
    gap: 12px;
  }

  &__icon {
    fill: $colorGreen;
    width: 64px;
    height: 60px;
    flex-shrink: 0;
  }

  &__number {
    font-weight: 700;
  }

  &__description {
  }
}
