@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.results {
  color: $colorDarkGreen;

  &__list {
    &--desktop {
      display: none;

      @include onTablet--s {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 24px;
      }

      @include onTablet--m {
        row-gap: 18px;
      }
    }
  }

  & .carousel {
    margin: 0 auto;
    width: 80%;
    height: 360px;
    display: flex;
    align-items: start;

    @include onTablet--s {
      display: none;
    }

    &-indicators {

      [data-bs-target] {
        background-color: $colorDarkGreen;
      }
    }

    & > .carousel-control-prev {
      top: calc((360px / 2) - 30px);
    }

    & > .carousel-control-next {
      top: calc((360px / 2) - 30px);
    }
  }

  &__item {
    margin: 0 auto 20px;

    @include onTablet--s {
      margin: 0;
      height: unset;
      width: calc(50% - 10px);
    }

    @include onTablet--m {
      width: calc(33.33333% - 10px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    border-radius: 18px;
    padding: 14px;
    background-color: $colorBeige;
    display: flex;
    width: 220px;

    align-items: center;
    gap: 12px;

    transition: all 0.3s linear;

    &:hover {
      background-color: $colorDarkGreen;
      color: $colorBeige;

      & .results__icon {
        fill: $colorBeige;
      }
    }
  }

  &__icon {
    fill: $colorDarkGreen;
    width: 64px;
    height: 60px;
    flex-shrink: 0;
    transition: all 0.3s linear;
  }

  &__number {
    font-weight: 700;
  }

  &__description--main {
    font-size: 24px;
    margin: 0 0 48px;
  }
}
