@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.donate-page {
  &__hero {
    position: relative;
    height: 300px;
    background-image: url('/images/donate/donate.png');
    background-size: cover;
    background-position: top 0 right -100px;
    background-repeat: no-repeat;

    @include onTablet--m {
      background-position: center;
      height: 400px;
    }
  }

  &__main-title {
    font-size: 24px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    letter-spacing: 1px;

    max-width: 600px;
    text-align: center;

    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);

    padding: 20px 40px;
    border-radius: 24px;
    color: $colorDarkGreen;

    @include onDesktop {
      top: 50%;
      bottom: unset;
      font-size: 40px;
      transform: translate(-50%, -50%);
    }
  }

  &__text-container {
    margin: 0 0 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.25;
    text-align: justify;

    @include onDesktop {
      font-size: 20px;
    }

    @include onDesktop--xxl {
      font-size: 24px;
    }

    &--tc {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}
