@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.presentation {

  &__title {
    margin: 0 0 24px;

    font-weight: 700;
    text-align: center;

    color: $colorGreen;
  }

  &__video-container {
    margin: 0 0 24px;

    & iframe {
      width: 100%;
      height: 100%;
      border-radius: 24px;

      @include hero--mobile-big {
        height: 200px;
      }

      @include onTablet--s {
        height: 280px;
      }

      @include onTablet--m {
        height: 360px;
      }

      @include onDesktop {
        height: 520px;
      }


    }
  }
}
