.projects {
  &__uc-container {
    display: block;
    margin: 0 auto 48px;
    width: 70%;
    border-radius: 55px;
    overflow: hidden;
  }

  &__project-description {
    font-size: 24px;
    text-align: center;
  }

  &__past-project {
    margin: 0 0 48px;
   }
}
