@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.support-us {
  & .section__description {
    margin: 0 0 48px;
    font-size: 24px;
    line-height: 1.5;

    @include onTablet--m {
      font-size: 28px;
    }

    @include onDesktop {
      margin: 0 0 50px;
      font-size: 30px;
    }
  }

}
