.animation {
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: normal;

  &__point {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 1px;
    width: 1px;
    z-index: -99;
  }

  transition: all 0.5s ease;
  &__fade-up {
    animation-name: fadeDown;

    &--fire {
      /*       opacity: 1;
      transform: translateY(0); */
      animation-name: fadeUp;

      // animation-delay: 0;

      // animation: fadeUp 300ms ease 0 1 normal;
    }
  }

  &__fade-up-centered {
    animation: fadeUpCentered;
  }
}

.reveal {
  animation: reveal 600ms ease 1 normal both 1s;
}

.pull-up {
  animation: pullUp 600ms ease 1 normal both 1s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  60% {
    transform: translateY(-5%);
  }

  95% {
    transform: translateY(1%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}

@keyframes fadeDownCentered {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50, 20%);
  }
}

@keyframes fadeUpCentered {
  0% {
    opacity: 0;
    transform: translate(-50%, 20%);
  }

  60% {
    transform: translate(-50%, -5%);
  }

  95% {
    transform: translate(-50%, 1%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pullUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
