.carousel {
  height: 400px;
  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  &-control {
    &-next-icon {
      height: 16px;
      width: 16px;
    }

    &-prev-icon {
      height: 16px;
      width: 16px;
    }
  }

  &-control {
    &-prev {
      top: 50%;
      transform: translate(-70%, -50%);
      &-icon {
        color: $colorBeige;
        filter: none;
      }
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $colorGreen;
    }
    &-next {
      &-icon {
        color: $colorBeige;
        filter: none;
      }

      top: 50%;
      transform: translate(70%, -50%);
      &-icon {
        color: $colorBeige;
        filter: none;
      }
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $colorGreen;
      color: #fff;
    }
  }
}
