@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.carousel {
  height: 400px;

  @include onTablet--s {
      display: none;
  }

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-dark &-indicators [data-bs-target] {
    height: 8px;
    width: 8px;
    // background-color: $colorGreen;
    border-radius: 50%;
  }

    &-control {
    &-prev {
      top: 50%;
      transform: translateY(-50%);
      &-icon {
        // filter: none;
        color: #fff;
      }

      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $colorBeigeDark;
    }

    &-next {
      top: 50%;
      transform: translateY(-50%);

      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $colorBeigeDark;
    }
  }
}

.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
  // filter: none;
    height: 16px;
    width: 16px;

    color: $colorBeige;
        // filter: none;
}

.carousel.slide.carousel-dark button.active {
  border-radius: 450%;
  width: 12px;
  height: 8px;
}
