@import '../utils/vars';
@import '../utils/mixins';

.page {
  font-family: 'Montserrat', sans-serif;

  &__section {
    &--bgc-green {
      background-color: $colorGreen;
      color: $colorBeige;

      & .section__title {
        color: $colorBeige;

        &::before, &::after {
          background-image: url('/images/decor/leaf-yellow.png');
          filter: brightness(5);
        }
      }
    }
  }
}
