@import '../utils/vars';
@import '../utils/mixins';

.page {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  &__main {
    min-height: calc(100vh - 60px - 384px);
  }

  &__section {
    &--bgc-green {
      background-color: $colorDarkGreen;
      color: $colorBeige;

      & .section__title {
        color: $colorBeige;

        &::before,
        &::after {
          background-image: url('/images/decor/leaf-yellow.png');
          filter: brightness(5);
        }
      }
    }
  }
}
