@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.therapist {
  padding: 0;

  &__header-background {
    padding: 50px 0;
    background: rgb(247, 240, 224);
    background: linear-gradient(
      180deg,
      rgba(247, 240, 224, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &__image-container {
    order: -1;
    margin: 0 auto 40px;

    @include onTablet--m {
      width: 250px;
      order: 0;
      margin: 0;
    }

    @include onDesktop {
      width: 300px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet--m {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__name {
    margin: 0 0 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    font-weight: 600;
    text-align: center;

    @include onTablet--m {
      text-align: left;
    }

  }

  &__role {
    margin: 0 0 4px;
    font-size: 17px;
    text-align: center;

    @include onTablet--m {
      text-align: left;
    }

    &--last-child {
      margin-bottom: 50px;
    }
  }

  &__book-button {
    margin: 0 auto;

    text-decoration: none;
    background-color: $colorGold;
    border: 2px solid $colorGold;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;


    @include onTablet--m {
      margin: 0;
    }

    transition: all 300ms ease-in-out;

    &:hover {
      background-color: #fff;
      color: $colorGold;
    }
  }

  &__photo {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  &__about {
    padding: 0 0 50px;
  }

  &__about-title {
    margin: 0 0 20px;
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 600;

    text-align: center;

    @include onTablet--m {
      text-align: left;
    }
  }

  &__about-subtitle {
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: 600;

    text-align: center;

    @include onTablet--m {
      text-align: left;
    }
  }

  &__about-description {
    margin: 0 0 30px;
    padding: 0 0 0 20px;
    font-size: 18px;
    line-height: 1.5;

    & b {
      font-weight: 600;
    }
  }

  &__list {
    margin: 0 0 25px;
    list-style: disc;
    padding: 10px 20px;
    font-size: 18px;
  }

  &__list-item {
    &::marker {
      color: $colorGold;
    }

    & b {
      font-weight: 600;
    }
  }
}
