@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.meeting-soul {
  position: relative;

  &__banner {
    height: calc(100vh - 60px);
    width: 100%;

    background-image: url('/images/projects/meeting-with-the-Soul--banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__main-title {
    font-size: 24px;
    margin: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    letter-spacing: 1px;

    width: 80%;
    max-width: 600px;
    text-align: center;

    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);

    padding: 20px 40px;
    border-radius: 24px;
    color: $colorDarkGreen;

    @include onDesktop {
      font-size: 40px;
    }
  }

  &__description-content {
    &:not(:last-child) {
      margin: 0 0 24px;

      @include onTablet--m {
        margin: 0 0 40px;
      }
    }

    padding: 24px 28px;

    background-color: $colorBeige;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;

    &--dark-green {
      background-color: $colorDarkGreen;
      color: $colorBeige;
    }
  }

  &__description {
    font-size: 24px;
    font-weight: 500;
    text-align: justify;
  }

  &__gallery {
    margin: 0 0 40px;
    display: none;

    @include onTablet--m {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__carousel {
    margin: 0 0 40px;

    @include onTablet--m {
      display: none;
    }

    &--desktop {
      display: none;
      @include onTablet--m {
        display: block;
        width: 100%;
      }
    }
  }

  &__carousel-items-container {
    &--desktop {
      @include onTablet--m {
        padding: 0 30px;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  &__carousel.carousel.carousel-dark .carousel-indicators > button {
    background-color: $colorBeige;
  }

  &__gallery-item {
    display: flex;
    flex-direction: column;

    @include onTablet--m {
      gap: 20px;
      width: 200px;
    }

    @include onDesktop {
      width: 270px;
      gap: 30px;
    }

    @include onDesktop--xl {
      width: 330px;
    }

    @include onDesktop--xxl {
      width: 400px;
    }
    justify-content: space-between;
    overflow: hidden;

    &--carousel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0 auto;
      width: 300px;
      height: 400px;

      @include onDesktop {
        display: flex;
      }
    }
  }

  &__gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
  }
}
