@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.soul-cover {
  padding-top: 0;
  &__video-container {
    border-radius: 24px;
    overflow: hidden;

    &--about-us {
      margin: 0 auto;
      width: 100%;

      @include onTablet--m {
        width: 70%;
      }
    }
  }
}
