@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.hero {
  &__content {
    position: relative;

    display: flex;
    flex-direction: column;

    @include onTablet--s {
      flex-direction: row;
    }
  }

  &__banner {
    border-bottom-right-radius: 50px;
    overflow: hidden;
    height: 290px;

    background: no-repeat scroll right / cover url('/images/hero/main-banner--mobile-full.png'), linear-gradient(90deg, rgb(255, 255, 255) 0%, #BA8A49 100%), $colorGreen;
background-color: red;
    &--green-fill {

      position: absolute;
      height: 100px;
      width: 100px;
      background-color: $colorGreen;

      right: 0px;
      bottom: 252px;
      z-index: -1;

      @include onTablet--s {
        display: block;
        bottom: 0;
        // right: 0;
      }
    }

    @include hero--mobile-big {
      height: 290px;
      background-size: contain;
    }

    @include onTablet--s {
      height: 360px;
      width: 100%;
      order: 1;
      background-size: contain;
    }
  }

  &__title-container {
    background: $colorGreen;
    @include onTablet--s {
      background: none;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include onTablet--m {
      right: 50%;
    }
  }

  &__title {
    padding: 50px 0 0;
    margin: 0 0 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, $colorBeige 0%, #BA8A49 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $colorBeige;
    @include onTablet--s {
      padding: 0;
      background: linear-gradient(180deg, rgba(23, 70, 54, 0.72) 0%, #174636 100%);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }



    &--top {
      font-size: 38px;
      line-height: 38px;
      letter-spacing: -0.95px;

      @include onTablet--m {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.95px;
      }

      @include onDesktop {}
    }

    &--bottom {
      font-size: 56px;
      line-height: 56px;
      font-weight: 700;

      @include onTablet--m {
        font-size: 72px;
        line-height: 72px;
      }
    }
  }

  &__decor-element {
    margin: 0 auto 12px;
    background-image: url("/images/decor/leaf-beige.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 214px;
    height: 65px;
    // background-image: url('/images/hero/hero--decor-element.png');

    @include onTablet--s {
      display: none;
    }
  }

  &__description {
    margin: 0;
    font-size: 14px;
    color: $colorBeige;
    text-align: center;

    @include onTablet--s {
      color: #2e2e2e;
    }

    &--top {
      margin: 0 0 4px;

      @include onTablet--s {
        letter-spacing: 1px;
      }

      @include onTablet--m {
        font-size: 16px;
        letter-spacing: 2.9px;

      }
    }

    &--bottom {
      margin: 0 0 16px;
      font-weight: 400;
      line-height: 100%;

      @include onTablet--s {
        margin: 0;
        letter-spacing: 3.8px;
      }

      @include onTablet--m {
        font-size: 17px;
        letter-spacing: 6px;
      }
    }
  }
}
