@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.participants {
  &__content {
    display: grid;
    margin: 0 0 24px;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, min-content);

    @include onTablet--s {
      grid-template: repeat(2, min-content) / repeat(12, 1fr);
    }

    @include onDesktop {
      grid-template: max-content min-content min-content / repeat(12, 1fr);

      row-gap: 24px;
    }
  }

  &__description {
    position: relative;
    padding: 24px;
    border-radius: 24px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include onTablet--s {
      grid-column: 2 / 12;
      grid-row: 1 / 2;
    }

    @include onDesktop--xl {
      background-color: $colorBeige;
    }
  }

  &__list-container {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include onDesktop {
      display: flex;
      justify-content: space-evenly;
      background-color: $colorBeige;
      padding: 20px;
      border-radius: 12px;
    }
  }

  &__list-item {
    text-align: justify;
    font-size: 14px;

    &--state {
      margin-right: 12px;
      padding: 8px 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 12px;
      font-weight: 700;
      color: #fff;

      border-radius: 8px;
      float: left;
      box-shadow: 2px 2px 4px #333;

      transition: transform 200ms linear;
    }

    &:hover &--state {
      transform: scale(1.1);
    }

    &:nth-child(1) &--state {
      background-color: #a05e02;
    }

    &:nth-child(2) &--state {
      background-color: #074030;
    }

    &:nth-child(3) &--state {
      background-color: #ecc064;
      color: #074030;
    }

    &:nth-child(4) &--state {
      background-color: #15694f;
    }

    &:nth-child(5) &--state {
      background-color: #b88744;
    }

    &:nth-child(6) &--state {
      background-color: #f7f0e8;
      color: #2b2b2a;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    @include onTablet--s {
      align-items: end;
    }

    & img {
      width: 100%;
      object-fit: contain;
      object-position: bottom;

      @include onTablet--s {
        width: 100%;
      }

      @include onDesktop {
        height: 100%;
      }
    }

    &--age-graph {
      background-color: $colorBeige;
      border-radius: 12px;
    }

    &--maps-container {
      flex-direction: column;

      @include onTablet--s {
        flex-direction: row;
      }

      @include onDesktop {
        flex-direction: column;
      }
    }

    &--conditions-graph {
      width: 100%;
      object-fit: cover;
      object-position: left;
    }

    &--ukraine-map {
      display: grid;

      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 80%;
      margin: 0 auto;

      @include onTablet--s {
        margin: 0;
        width: 100%;

        grid-column: 1 / 8;
        grid-row: 3 / 5;
      }

      @include onDesktop {
      }
    }

    &--europe-map {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 3 / 4;

      @include onTablet--s {
        grid-column: 8 / 13;
        grid-row: 2 / 5;
      }

      @include onDesktop {
      }
    }

    &--girl-sad {
      background-image: url('/images/about/about--girl-sad.png');
    }

    &--girl-happy {
      background-image: url('/images/about/about--girl-happy.png');
    }
  }

  &__age-structure {
    display: flex;
    justify-content: center;
  }

  &__percentage {
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    color: $colorDarkGreen;
  }
}
