@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.reviews {
  &__container {
    &--tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list {
    display: block;

    // @include onTablet--s {
    //   margin: 0 0 48px;
    // }


  }

  &__slide-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  &__item {
    margin: 0 auto 0;
    width: fit-content;
    height: 100%;


    @include onTablet--s {
      margin: 0;
    }
  }

  &__item iframe {
    width: 280px;
    height: calc(280px / 9 * 16);
    left: 0px;
    top: 0px;
    border-radius: 24px;
  }

  & .carousel {
    height: 540px;

    @include onTablet--s {
      height: 400px;
    }

    &-inner {
      height: 100%;
      display: flex;
      align-items: start;
    }

    justify-content: start;
  }

  & .reviews__carousel {
    height: 408px;
    max-width: 992px;
    margin: 0 auto;

    &--mobile {
      display: flex;
      justify-content: center;

      @include onTablet--s {
        display: none;
      }
    }

    &--tablet-s {
      display: none;

      @include onTablet--s {
        display: flex;
      }

      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onTablet--m {
        display: none;
      }

      @include onDesktop {
        display: flex;
        justify-content: center;
      }
    }

  }
}

.video-reviews {
  row-gap: 48px;
  justify-content: center;

  &--desktop {
    display: none;

    @include onTablet--s {
      display: flex;
      flex-wrap: wrap;
    }
  }

  & .reviews__item {
    & iframe {
      width: 220px;
      height: calc(220px * 16 / 9);
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
