@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.language-selector {
  display: none;

  @include onTablet--m {
    display: flex;
    gap: 8px;
  }

  &__toggler-window {
    align-self: center;
    position: relative;
    width: 36px;
    height: 18px;

    border-radius: 50px;
    background-color: $colorBeige;
    cursor: pointer;

    transition: all 0.05s linear;

    background-color: $colorDarkestGreen;
  }

  &__toggler {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: $colorGoldLight;
    border-radius: 50%;
    top: 0px;
    left: 0px;

    transition: all 0.3s ease-in-out;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--lang-en {
      transform: translateX(0) rotate(0deg);
      background-image: url('/images/icons/flag-us.png');
    }

    &--lang-ua {
      transform: translateX(18px) rotate(360deg);
      background-image: url('/images/icons/flag-ukraine.png');
    }
  }

  &__button {
    color: $colorGoldLight;
    font-size: 18px;
    font-weight: 400;

    opacity: 0.5;

    transition: opacity 0.23s ease-in-out;

    &--active {
      opacity: 1;
      font-weight: 700;
    }
  }
}
