@import 'utils/reset';
@import 'utils/mixins';
@import 'blocks/page';
@import 'blocks/section';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.container {
  padding: 0 20px;
  width: 320px;
  margin: 0 auto;
}
