@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.team {
  &__carousel {
    position: relative;
    height: min-content;

    @include onTablet--s {
      display: none;
    }

    &.carousel.carousel-dark.slide .carousel-indicators {
      position: absolute;
      bottom: -50px;
      [data-bs-target] {
        background-color: $colorBeige;
      }
    }
  }

  &__list {
    &--desktop {
      display: none;

      @include onTablet--s {
        display: flex;
        margin: 0 auto;
        width: calc(200px * 2 + 20px);
        gap: 20px;
        flex-wrap: wrap;
      }

      @include onTablet--m {
      }

      @include onDesktop {
        width: calc(200px * 4 + 3 * 20px);
        justify-content: center;
      }

      @include onDesktop--xl {
        max-width: unset;
      }
    }
  }

  &__person {
    display: flex;
    justify-content: center;
    width: min-content;
    margin: 0 auto;
    padding: 0;

    @include onTablet--s {
      margin: 0;
    }
  }
}

.person {
  text-decoration: none;
  padding: 0;
  margin: 0;

  width: 240px;
  height: 320px;
  position: relative;
  padding: 24px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 24px;

  transition: box-shadow 0.3s ease-in-out;

  background-color: $colorBeige;

  &:hover {
    box-shadow: 0 0 8px $colorDarkGreen;
  }

  @include onTablet--s {
    width: 200px;
  }

  &__image-container {
    position: relative;
    margin: 0 0 24px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;

    border: 3px solid #fff;

    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 100%;
  }

  &__name {
    width: min-content;
    text-align: center;
    margin: 0 0 12px;
    font-weight: bold;
    color: $colorDarkGreen;
    font-size: 18px;
  }

  &__role {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.5;
    color: #2e2e2e;
  }
}
