@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.team {
  &__list {

  }

  &__person {
    margin: 0 0 48px;
  }
}

.person {
  position: relative;
  padding: 32px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $colorBeigeDark;
  border-radius: 24px;

  transition: box-shadow 0.3s ease-in-out;

  background-color: $colorBeigeDark;



  &:hover {
    box-shadow: 1px 1px 4px $colorGreen;
  }

  &__image-container {
    position: relative;
    margin: 0 0 24px;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;

    border: 3px solid #fff;

    transition: transform .3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 210px;
  }

  &__name {
    margin: 0 0 12px;
    font-weight: bold;
    color: $colorGreen;
    font-size: 18px;
  }

  &__role {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.5;
  }
}
