.past-project {
  display: flex;
  gap: 20px;

  &__image {
    border-radius: 24px;
    overflow: hidden;
    flex-shrink: 0;
    width: 200px;
    height: 200px;

    & img {
      object-fit: cover;
    }
  }

  &__description {
    font-size: 18px;
  }

  &--reverse {
    & .past-project__description {
      order: -1;
    }
  }
}
