.past-project {
  display: flex;

  &__image {
    border-radius: 24px;
    overflow: hidden;
    flex-shrink: 0;
    width: 200px;
    height: 200px;

    & img {
      object-fit: cover;
    }
  }

  &__description {
    font-size: 18px;
  }

  &__title {
    font-size: 30px;
    margin: 0 0 24px;
    font-weight: 600;
  }

  &__paragraph {
    margin: 0 0 24px;
  }

  &--reverse {
    & .past-project__description {
      order: -1;
    }
  }
}
