@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.about {

  &__subtitle {
    margin: 0 0 24px;
    font-weight: 700;

    text-align: center;

    color: $colorGreen
  }

  &__description {
    margin: 0 0 24px;
    text-align: justify;
  }

  &__list {
    margin: 0 0 24px;
  }

  &__list-item {
    margin: 0 0 8px;
    text-align: justify;
  }

  &__image {
    margin: 0 0 24px;

    &--ukraine-map {
      background-image: url('/images/about/about--ukraine-map.png');
    }

    &--europe-map {
      background-image: url('/images/about/about--europe-map.png');
    }

    &--age-graph {
      background-image: url('/images/about/about--age-graph.png');
    }

    &--conditions-graph {
      width: 100%;
      object-fit: cover;
      object-position: left;
    }

    &--girl-sad {
      background-image: url('/images/about/about--girl-sad.png');
    }
    &--girl-happy {
      background-image: url('/images/about/about--girl-happy.png');
    }
  }
}
