$colorDarkestGreen: #073124;
$colorDarkGreen: #0d4f3a;
$colorLightGreen: #078c64;
$colorBeige: #f7f0e8;
$colorBeigeDark: #e8ded2;
$colorGoldLight: #eccb80;
$colorGold: #b88744;
$colorGoldDark: #d89d4c;
$colorTelegramPrimaryBlue: #62909e;
$colorTelegramBackgroundBlue: #e6f3f9;
$colorTelegramPrimaryGreen: #6f925f;
$colorTelegramBackgroundGreen: #f0fddf;
