@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.donate {
  &__icon {
    fill: $colorBeige;
    transition: all 0.3s linear;
    height: 60px;
    width: 60px;

    @include onTablet--s {
      height: 60px;
      width: 60px;
    }

    @include onTablet--m {
    }

    @include onDesktop {
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
  }

  &__button {
    padding: 0 36px;
    display: flex;
    gap: 20px;
    width: 340px;
    height: 60px;
    font-size: 24px;

    box-shadow: 0px 0px 45px $colorGoldLight;

    @include onTablet--s {
      font-size: 24px;
    }

    @include onTablet--m {
    }

    @include onDesktop {
      border-radius: 100px;
      width: 400px;
      font-size: 30px;
      height: 80px;
    }

    &:hover {
      gap: 0;
    }

    &:hover > svg {
      fill: $colorDarkGreen;
      transform: scale(1.1);
    }
  }
}
