@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';
$teamListItemHeight: 30px;
$teamListGap: 8px;

.header {
  position: sticky;
  top: 0;
  background-color: $colorDarkGreen;

  z-index: 99;

  &__nav-link {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-color: $colorGoldLight;
      border-radius: 4px;

      bottom: 0;
      right: 0;
      height: 4px;
      width: 0%;
      transition: all 300ms ease-in-out;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  &__nav-link {
    display: flex;
    justify-content: start;
    width: max-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: $colorGoldLight;
    font-weight: 400;

    &--team {
      position: relative;
    }
  }

  &__team-list {
    top: 100%;
  }

  .team-list {
    display: flex;
    padding: 8px 16px;
    gap: $teamListGap;
    align-items: start;
    flex-direction: column;
    position: absolute;
    background-color: $colorBeige;
    width: max-content;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    opacity: 0;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &--open {
      height: $teamListItemHeight * 4 + 8px * 2 + $teamListGap * 3;
      opacity: 1;
    }

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      color: $colorDarkGreen;
      height: $teamListItemHeight;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
    align-items: center;

  }

  &__button {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 32px;
    width: 32px;

    &--mobile {
      display: flex;

      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include onDesktop {
        display: flex;
      }
    }

    &--call {
      background-image: url('/images/header/header-phone--mobile.png');
    }

    &--email {
      width: max-content;
      background-image: url('/images/icons/email.svg');
      background-position: left center;

      & span {
        display: none;
        @include onDesktop {
          font-size: 18px;
          display: flex;
          align-items: center;
          color: #eccb80;
          padding: 0 0 0 32px;
        }
      }
    }

    &--email-icon {
      background-image: url('/images/icons/email.svg');
      background-position: center;
    }

    &--burger-menu {
      background-image: url('/images/header/header-burger--mobile.svg');

      @include onDesktop {
        display: none;
      }
    }
  }
}

.logo {
  display: flex;

  & img {
    display: flex;
    align-self: center;

    width: 150px;
  }
}

.nav {
  display: none;

  @include onTablet--m {
    display: flex;
    gap: 60px;
  }


   & .active-link {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      height: 4px;
      border-radius: 4px;
      background-color: $colorGoldLight;
      width: 100%;
    }
   }
}
