.header {
  position: sticky;
  top: 0;
  background-color: #f7f0e8;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }


  &__buttons {
    display: flex;
    gap: 12px;

  }
  
  &__button {
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 32px;

    &--call {
      background-image: url('/images/header/header-phone--mobile.png');
    }

    &--burger-menu {
      background-image: url('/images/header/header-burger--mobile.png');
    }
  }
}

.logo {
  display: flex;
  // height: 24px;


  & img {
    display: flex;

    height: 32px;
    width: 100%;
  }
}
