@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  height: 100vh;
  width: 100vw;

  background-color: $colorBeige;
  z-index: 99;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &--open {
    transform: translateX(0);
  }

  &__top-actions {
    margin: 0 0 24px;
    display: flex;
    background-color: $colorDarkGreen;
  }

  @include onTablet--m {
    display: none;
    transform: translateX(-100%);
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__lang-selector {
    display: flex;
    gap: 12px;

    margin: 0 0 24px;
    justify-content: center;
    align-items: center;
    color: $colorDarkGreen;
    font-size: 20px;
  }

  &__lang-btn {
    font-size: 20px;
    font-weight: 600;
    color: $colorDarkGreen;

    border: 1px solid transparent;

    height: 54px;
    width: 54px;
    border-radius: 50%;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: $colorBeige;
      border-color: $colorDarkGreen;
      background-color: $colorDarkGreen;
    }
  }

  &__menu-list {
    margin: 0 0 24px;
    font-size: 24px;
    margin-left: 20px;
    gap: 14px;
    font-weight: 500;

    display: flex;
    flex-direction: column;
  }

  &__list-item {
    color: $colorDarkGreen;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__nav-link,
  &__nav-button {
    padding: 6px 14px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: $colorDarkGreen;
    display: flex;

    height: 100%;
    width: 100%;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: $colorBeige;
      background-color: $colorDarkGreen;
    }

    &--inactive {
      border: none;
      cursor: none;
      pointer-events: none;
    }

  }

  &__nav-button {
    align-items: center;
    gap: 12px;
    font-weight: 500;
  }

  &__dropdown {
    position: relative;
    cursor: pointer;
    max-height: 42px;
    overflow: hidden;

    transition: max-height 0.3s ease-in-out;

    &--open {
      max-height: 300px;
    }
  }

  &__social {
    margin: 0 auto;
  }
}

.is-active {
  display: flex;
  position: relative;

  &--lang {
    background-color: $colorDarkGreen;
    color: $colorGoldLight;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);

    content: '';
    height: 8px;
    width: 8px;
    background-color: $colorDarkGreen;
    border-radius: 50%;
  }
}

.accordeon-icon {
  height: 16px;
  width: 14px;
  transition: transform 0.3s ease-in-out;

  &--open {
    transform: rotate(90deg);
  }
}
