.partners-list {
  .carousel {
    height: 400px;

    &-control {
      &-prev {
        transform: translateX(-120%);
      }

      &-next {
        transform: translateX(120%);
      }
    }
  }
}
