@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.partners {
  &__list {
    margin: 0 0 40px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include onDesktop {
      margin: 0 0 60px;
      gap: 50px;
    }
  }

  &__list-item {
    flex-shrink: 0;

    &:hover {
      transform: scale(1.1);
    }

    @include onTablet--m {
      @for $child from 0 through 5 {
        &:nth-child(#{$child}) {
          animation-delay: calc(#{$child} * 300ms);
        }
      }
    }
  }
}
