@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.partners-list {
  &--mobile {
    display: block;
    @include onTablet--s {
      display: none;
    }
  }

    &--desktop {
      display: none;
      @include onTablet--s {
        margin: 0 auto;
        display: flex;
        max-width: 576px;
      }

      @include onDesktop {
        max-width: unset;
      }
    }

  .carousel {
    height: 400px;

    &-control {
      &-prev {
        transform: translateX(-120%);
      }

      &-next {
        transform: translateX(120%);
      }
    }
  }
}

.partner {
  &__item {
    display: flex;
    align-items: center;
    padding: 20px;
  }
}
