@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.modules {
  &__module {
    margin: 0 0 48px;

    &:last-child {
      margin: 0;
    }
  }


  &__title {
    margin: 0 0 24px;
    text-transform: uppercase;
    font-weight: 700;

    color: $colorGreen;

  }

  &__list {
    margin: 0 0 24px;
  }
}

.module {
  &__number {
    font-size: 12px;

    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    text-shadow: #0d4f3a71 2px 2px 10px;

    color: $colorGreen;
  }

  &__carousel {
    margin-bottom: 24px;

    border-radius: 24px;
    overflow: hidden;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 0 24px;
    padding: 24px 14px;
    width: 280px;
    height: 160px;

    border-radius: 24px;
    overflow: hidden;
    background-color: $colorBeige;

    &::before {
      position: absolute;
      top: -26px;
      left: 122px;

      display: flex;
      content: '';
      height: 230px;
      width: 255px;
      border-radius: 50%;
      border: 10px solid $colorBeigeDark;

      z-index: 2;
      overflow: hidden;
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      display: block;
      height: 44px;
      width: 160px;
      content: '';

      background-image: url('/images/decor/leaf-beige.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;
      bottom: 0;
      right: 44px;

      transform-origin: right bottom;
      transform: rotate(90deg);
    }
  }

  &__image {
    position: absolute;
    left: 115px;
    height: 100%;

    object-fit: cover;
    object-position: 0px 0px;

    transition: all 0.3s ease-in-out;
  }

  &__description {
    margin: 0 0 24px;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
    b {
      font-weight: 700;
    }
  }

  &__report-button {
    display: flex;
    width: 100%;
    height: 46px;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 48px;

    background-color: $colorGreen;
    color: #fff;

    border: 1px solid transparent;

    box-shadow: 0px 6px 23px 0px #004e176d;

    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: #fff;
      color: $colorGreen;
      border-color: $colorGreen;
    }
  }

  &:nth-child(1) &__content::before {
    background-image: url('/images/modules/module-1/module1-main.png');
    background-size: 212px 163px;
    background-position: -24px 15px;
  }

  &:nth-child(2) &__content::before {
    background-image: url('/images/modules/module-2/module2-main.png');
    background-size: 305px 160px;
    background-position: -85px 16px;
  }

  &:nth-child(3) &__content::before {
    background-image: url('/images/modules/module-3/module3-main.png');
    background-size: 160px 160px;
    background-position: -5px 16px;
  }

  &:nth-child(4) &__content::before {
    background-image: url('/images/modules/module-4/module4-main.png');
    background-size: 160px 160px;
    background-position: -5px 16px;
  }

  &:nth-child(5) &__content::before {
    background-image: url('/images/modules/module-5/module5-main.png');
    background-size: 200px 360px;
    background-position: -25px -140px;
  }

  &:nth-child(6) &__content::before {
    background-image: url('/images/modules/module-6/module6-main.png');
    background-size: 170px 165px;
    background-position: -20px 16px;
  }

  &:nth-child(7) &__content::before {
    background-image: url('/images/modules/module-7/module7-main.png');
    background-size: 160px 285px;
    background-position: -10px -72px;
  }

  &:nth-child(8) &__content::before {
    background-image: url('/images/modules/module-8/module8-main.png');
    background-size: 200px 165px;
    background-position: -23px 16px;
  }

  &:nth-child(9) &__content::before {
    background-image: url('/images/modules/module-9/module9-main.png');
    background-size: 260px 160px;
    background-position: -75px 16px;
  }
}
