@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.crisis-center {
  position: relative;

  &__banner {
    height: 100vh;
    width: 100%;

    background-image: url('/images/projects/crisis-center--banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    @include onDesktop {
      height: 600px;
    }
  }

  &__main-title {
    font-size: 24px;
    margin: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    width: 80%;
    max-width: 600px;
    text-align: center;

    padding: 20px 40px;
    border-radius: 24px;
    color: $colorDarkGreen;

    @include onDesktop {
      font-size: 40px;
    }
  }

  &__description-content {
    /* display: flex;
    align-items: center;
    gap: 50px; */

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 50px;
    }

    align-items: center;
  }

  &__text-content {
    grid-column: 1 / -1;
    text-indent: 50px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 1.25;
    text-align: justify;

    @include onDesktop {
      font-size: 24px;
      gap: 24px;
      grid-column: 1 / 8;
    }

    @include onDesktop--xxl {
    }
  }

  &__image-container {
    border-radius: 8px;
    overflow: hidden;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 8 / 13;
    }
    gap: 20px;
  }

  &__image {
    border-radius: 50%;
  }

  &__image-text {
    color: $colorDarkGreen;
    background-color: $colorBeige;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    font-weight: 700;

    font-size: 20px;

    transition: all 0.3s ease;

    &:hover {
      background-color: $colorDarkGreen;

      color: $colorBeige;
    }
  }

  &__gallery {
    margin: 0 0 40px;
    display: none;

    @include onTablet--m {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__gallery-item {
    display: flex;
    flex-direction: column;

    @include onTablet--m {
      gap: 20px;
      width: 200px;
    }

    @include onDesktop {
      width: 270px;
      gap: 30px;
    }

    @include onDesktop--xl {
      width: 330px;
    }

    @include onDesktop--xxl {
      width: 400px;
    }
    justify-content: space-between;
    overflow: hidden;

    &--carousel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0 auto;
      width: 300px;
      height: 400px;

      @include onDesktop {
        display: flex;
      }
    }
  }

  &__gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
  }

  &__reviews {
  }

  &__reviews-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;

    @include onTablet--m {
      flex-direction: row;
    }
  }

  &__reviews-item {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;

    @include onDesktop {
      width: 48%;
    }

    padding: 20px 30px 40px;
    border-radius: 12px;

    &--blue {
      background-color: $colorTelegramBackgroundBlue;
    }

    &--green {
      background-color: $colorTelegramBackgroundGreen;
    }
  }

  &__reviews-notification {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 0;

    font-weight: 500;
    line-height: 30px;

    &--blue {
      color: $colorTelegramPrimaryBlue;
    }

    &--green {
      color: $colorTelegramPrimaryGreen;
    }

    &-icon {
      height: 12px;
      width: 20px;
    }
  }
}

.consultations {
  &__text {
    font-size: 20px;
    text-align: center;

    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    // padding: 20px;

    cursor: pointer;

    @include onDesktop {
      width: 50%;
      margin: 0 auto;

      color: $colorDarkGreen;

      border: 2px solid $colorDarkGreen;
      border-top: none;
      border-radius: 33px;
      background-color: $colorBeige;
    }
  }

  &__topic {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

    color: $colorBeige;
    background-color: $colorDarkGreen;

    padding: 20px;
    border-radius: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 28px;
      width: 28px;

      background-image: url('/images/icons/plus.svg');
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;

      color: #fff;
      border: 2px solid $colorBeige;
      border-radius: 50%;

      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: all 0.3s ease;
    }

    &::before {
      left: 50px;
    }

    &::after {
      right: 50px;
    }

    &--open::before {
      transform: translateY(-50%) rotate(45deg);
    }

    &--open::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__description {
    padding: 0 20px;
    overflow: hidden;
    transition: all 0.3s;

    text-align: justify;

    font-size: 20px;

    &--open {
      height: 100%;
    }
  }
}

.support-groups {
  &__subtitle {
    font-size: 20px;
    text-align: justify;

    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    width: 300px;

    background-color: $colorDarkGreen;
    border-radius: 24px;
  }

  &__image-container {
    height: 300px;
    display: flex;
  }

  &__image {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__text-content {
    padding: 10px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #fff;
  }

  &__topic {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }
}

.special-thanks {
  &__text {
    margin: 0 0 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;

    a {
      color: $colorDarkGreen;
      font-weight: bold;
    }

    b {
      font-weight: 600;
      color: $colorDarkGreen;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__item {
    border-radius: 30px;
    width: 100%;

    filter: brightness(0.9);
    overflow: hidden;

    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1);
    }
  }

  &__img {
    width: 100%;
    transform: scale(1);

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
