html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.container {
  padding: 0 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  background-color: #f7f0e8;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  &__logo {
    display: block;
    height: 24px;
    width: 100%;

    & img {
      height: 24px;
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;

    &--call {
      display: block;
      height: 24px;
      width: 24px;
      background-image: url('/images/header/header-phone--mobile.png');
    }

    &--burger-menu {
      display: block;
      height: 24px;
      width: 24px;
      background-image: url('/images/header/header-burger--mobile.png');
    }
  }
}

.hero {
  &__content {
    display: flex;
    flex-direction: column;

    background: linear-gradient(
      180deg,
      rgba(203, 159, 91, 0.39) 39.06%,
      rgba(203, 159, 91, 0) 89.58%
    );
  }

  &__banner {
    padding-top: 100%;
    background-image: url('/images/hero/main-banner--mobile.png');

    background-size: cover;
  }

  &__title {
    padding: 8px 0 0;
    margin: 0 0 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      rgba(23, 70, 54, 0.72) 0%,
      #174636 100%
    );
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &--top {
      font-size: 38px;
      line-height: 38px;
      letter-spacing: -0.95px;
    }

    &--bottom {
      font-size: 56px;
      line-height: 56px;
      font-weight: 700;
    }
  }

  &__decor-element {
    margin: 0 auto 12px;
    width: 106px;
    height: 30px;
    background-image: url('/images/hero/hero--decor-element.png');
  }

  &__description {
    margin: 0;
    font-size: 14px;
    color: #000;
    text-align: center;

    &--top {
      margin: 0 0 4px;
    }

    &--bottom {
      margin: 0 0 16px;
      font-weight: 400;
      line-height: 100%; /* 14px */
      letter-spacing: 5.18px;
    }
  }
}
